*{
	margin: 0px;
	padding: 0px;
}
.total{
	position: absolute;
	top: 0px;
	left: 0px;
}
.top{
	float: left;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}
.search{
	position: absolute;
	top: 30px;
	left: 0px;
}
.ItemandPicture{
	position: absolute;
	top: 170px;
	left: 0px;
}
.total div{
	float: left;
}
#topul{
	list-style-type: none;
}
#topul a{
	text-decoration: none;
}
#topul li #a1{
	font-size: 13px;
	/*color: #c5c5c5;*/
}
#a1:visited{
	color: #c5c5c5;
}
#topul a:hover{
	color: red;
}
.a_1:hover{
	background-color: white;
	outline-color: white;
}
#mybyclub:hover{
	background-color: white;
	width: 74px;
	height: 28px;
	border: #c5c5c5 solid 1px;
}
#topul a:acive{
	color: red;
}
#topul li{
	width: 58px;
	height: 30px;
	float: left;
	font-size: 13px;
	margin-top:8px;
}
.span{
	color: #c5c5c5;
}
.li_1{
	text-align: center;
}
#li_location{
	text-align: left;
}
.redpoint{
	color: red;
}
#li_create{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#search{
	font-size: 5px;
	margin-top:40px;
	margin-left: 20px;
	height: 30px;
	width: 500px;
	border-color: white;
	outline: medium solid red;
	float: left;
	text-indent: 2%;
}
#search_button{
	font-size: 15px;
	color:white;
	margin:40px 0px;
	padding: 0px 25px;
	height: 30px;
	border-color: red;
	background-color: red;
	outline: medium solid red;
}
#shopping_cart{
	font-size: 14px;
	color:red;
	margin-top:37px;
	padding: 0px 25px;
	height: 36px;
	width: 190px;
	border-color: black;
	background-color: white;
	outline: medium solid white;
}
#ul_1{
	list-style-type: none;
	margin-top: 18px; 
	margin-left: 13px;
}
#ul_1 li #a2{
	font-size: 8px;
	text-decoration: none;
}
#ul_1 li #a3{
	font-size: 8px;
	color: red;
	text-decoration: none;
}
#a2:visited{
	color: #c5c5c5;
}
#a2:hover{
	color: red;
}
#a2:acive{
	color: red;
}
#ul_1 li{
	width: 58px;
	height: 30px;
	float: left;
	font-size: 13px;
	margin-top:8px;
	margin-left:3px; 
}
.ol_1{
	list-style-type: none;
}
.ol_1 a:visited{
	color:#c5c5c5;
}
.li_3{
	width: 60px;
	height: 20px;
	text-align: left;
	/*border: black solid 1px;*/
	clear: both;
}
.li_2{
	float: left;
	width: 60px;
	height: 20px;
	text-align: left;
	/*border: black solid 1px;*/
	margin-left: 50px; 
}
#hiddenList{
	list-style-type: none;
	width: 228px;
	height: 168px;
	background-color: white;
	text-align:center;
	display: none;
	margin-left: -1px;
	margin-top: 3px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;  
	border: #c5c5c5 solid 1px;
}
#mybyclub:hover #hiddenList{
	display: block;
}
#companybuy:hover #hiddenList_1{
	display: block;
}
#hiddenList_1{
	list-style-type: none;
	width: 200px;
	height: 80px;
	background-color: white;
	text-align:center;
	display: none;
	margin-left: -1px;
	margin-top: 3px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;  
	border: #c5c5c5 solid 1px;
}
.ol_2{
	list-style-type: none;
}
.ol_2 a:visited{
	color:#c5c5c5;
}
#companybuy:hover{
	background-color: white;
	width: 74px;
	height: 28px;
	border: #c5c5c5 solid 1px;
}


#custom:hover #hiddenList_2{
	display: block;
}
#hiddenList_2{
	list-style-type: none;
	width: 118px;
	height: 305px;
	background-color: white;
	text-align:center;
	display: none;
	margin-left: -82px;
	margin-top: 3px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;  
	border: #c5c5c5 solid 1px;
}
.ol_3{
	list-style-type: none;
}
.ol_3 a:visited{
	color:#c5c5c5;
}
.ol_3 li{
	margin: 0px;
}
#custom:hover{
	background-color: white;
	width: 74px;
	height: 28px;
	border: #c5c5c5 solid 1px;
}

#net:hover #hiddenList_3{
	display: block;
}
#hiddenList_3{
	list-style-type: none;
	width: 835px;
	height: 140px;
	background-color: white;
	text-align:center;
	display: none;
	margin-left: -733px;
	margin-right: 200px;
	margin-top: 3px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;  
	border: #c5c5c5 solid 1px;
}
.ol_4{
	list-style-type: none;
}
.ol_4 a:visited{
	color:#c5c5c5;
}
.ol_4 li{
	margin: 0px;
}
#net:hover{
	background-color: white;
	width: 74px;
	height: 28px;
	border: #c5c5c5 solid 1px;
}

#ul_2{
	list-style-type: none;
	margin-left: -10px;
}
#ul_2 li #a5{
	font-size: 16px;
	text-decoration: none;
	text-align: left;
}
#ul_2 li #a4{
	font-size: 16px;
	color: red;
	text-decoration: none;
	font-weight: 700;
}
#a5:visited{
	color: black;
}
#a5:hover{
	color: red;
}
#a5:acive{
	color: red;
}
#ul_2 li{
	float: left;
	font-size: 16px;
	margin-top:8px;
	padding-left:2px;
}
.div_1 a{
	text-decoration:none;
	font-weight: 350;
}
.div_1 a:visited{
	color: gray;
}
.div_1 a:hover{
	color: red;
}
.div_1 a:active{
	color: red;
}
.div_1 p:hover{
	background-color: #c5c5c5;
}
#circle{
        width:50px;
        height:50px;
        border:1px solid #000;
        border-radius:50%;
        margin:10px 10px;
        border-color: white;
        background-color: #CCCCCC;
        float: left;
        background-image: url('../img/img_8.png');
        background-size: 50px 50px;
}
#loCreate a{
	text-decoration:none; 
}
#loCreate a:visited{
	color: black;
}
#loCreate a:hover{
	color: red;
}
#loCreate a:active{
	color: red;
}
.a_span{
	color: #c5c5c5;
}
#a_span:hover{
	color: red;
}


#p1:hover #hiddenList_4{
	display: block;
}
#hiddenList_4{
	list-style-type: none;
	width: 910px;
	height: 615px;
	background-color: white;
	text-align:left;
	display: none;
	position: absolute;
	top:13px;
	left: 360px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;  
	border: #c5c5c5 solid 1px;
}

#p2:hover #hiddenList_5{
	display: block;
}
#hiddenList_5{
	list-style-type: none;
	width: 910px;
	height: 615px;
	background-color: white;
	text-align:left;
	display: none;
	position: absolute;
	top:13px;
	left: 360px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;  
	border: #c5c5c5 solid 1px;
}

#p3:hover #hiddenList_6{
	display: block;
}
#hiddenList_6{
	list-style-type: none;
	width: 910px;
	height: 615px;
	background-color: white;
	text-align:left;
	display: none;
	position: absolute;
	top:13px;
	left: 360px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;  
	border: #c5c5c5 solid 1px;
}

#p4:hover #hiddenList_7{
	display: block;
}
#hiddenList_7{
	list-style-type: none;
	width: 910px;
	height: 615px;
	background-color: white;
	text-align:left;
	display: none;
	position: absolute;
	top:13px;
	left: 360px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;  
	border: #c5c5c5 solid 1px;
}

#p5:hover #hiddenList_8{
	display: block;
}
#hiddenList_8{
	list-style-type: none;
	width: 910px;
	height: 615px;
	background-color: white;
	text-align:left;
	display: none;
	position: absolute;
	top:13px;
	left: 360px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;  
	border: #c5c5c5 solid 1px;
}

#p6:hover #hiddenList_9{
	display: block;
}
#hiddenList_9{
	list-style-type: none;
	width: 910px;
	height: 615px;
	background-color: white;
	text-align:left;
	display: none;
	position: absolute;
	top:13px;
	left: 360px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;  
	border: #c5c5c5 solid 1px;
}

#p7:hover #hiddenList_10{
	display: block;
}
#hiddenList_10{
	list-style-type: none;
	width: 910px;
	height: 615px;
	background-color: white;
	text-align:left;
	display: none;
	position: absolute;
	top:13px;
	left: 360px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;  
	border: #c5c5c5 solid 1px;
}

#p8:hover #hiddenList_11{
	display: block;
}
#hiddenList_11{
	list-style-type: none;
	width: 910px;
	height: 615px;
	background-color: white;
	text-align:left;
	display: none;
	position: absolute;
	top:13px;
	left: 360px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;  
	border: #c5c5c5 solid 1px;
}

#p9:hover #hiddenList_12{
	display: block;
}
#hiddenList_12{
	list-style-type: none;
	width: 910px;
	height: 615px;
	background-color: white;
	text-align:left;
	display: none;
	position: absolute;
	top:13px;
	left: 360px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;  
	border: #c5c5c5 solid 1px;
}

#p10:hover #hiddenList_13{
	display: block;
}
#hiddenList_13{
	list-style-type: none;
	width: 910px;
	height: 615px;
	background-color: white;
	text-align:left;
	display: none;
	position: absolute;
	top:13px;
	left: 360px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;  
	border: #c5c5c5 solid 1px;
}

#p11:hover #hiddenList_14{
	display: block;
}
#hiddenList_14{
	list-style-type: none;
	width: 910px;
	height: 615px;
	background-color: white;
	text-align:left;
	display: none;
	position: absolute;
	top:13px;
	left: 360px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;  
	border: #c5c5c5 solid 1px;
}

#p12:hover #hiddenList_15{
	display: block;
}
#hiddenList_15{
	list-style-type: none;
	width: 910px;
	height: 615px;
	background-color: white;
	text-align:left;
	display: none;
	position: absolute;
	top:13px;
	left: 360px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;  
	border: #c5c5c5 solid 1px;
}

#p13:hover #hiddenList_16{
	display: block;
}
#hiddenList_16{
	list-style-type: none;
	width: 910px;
	height: 615px;
	background-color: white;
	text-align:left;
	display: none;
	position: absolute;
	top:13px;
	left: 360px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;  
	border: #c5c5c5 solid 1px;
}

#p14:hover #hiddenList_17{
	display: block;
}
#hiddenList_17{
	list-style-type: none;
	width: 910px;
	height: 615px;
	background-color: white;
	text-align:left;
	display: none;
	position: absolute;
	top:13px;
	left: 360px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;  
	border: #c5c5c5 solid 1px;
}

#p15:hover #hiddenList_18{
	display: block;
}
#hiddenList_18{
	list-style-type: none;
	width: 910px;
	height: 615px;
	background-color: white;
	text-align:left;
	display: none;
	position: absolute;
	top:13px;
	left: 360px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;  
	border: #c5c5c5 solid 1px;
}

#p16:hover #hiddenList_19{
	display: block;
}
#hiddenList_19{
	list-style-type: none;
	width: 910px;
	height: 615px;
	background-color: white;
	text-align:left;
	display: none;
	position: absolute;
	top:13px;
	left: 360px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;  
	border: #c5c5c5 solid 1px;
}

#p17:hover #hiddenList_20{
	display: block;
}
#hiddenList_20{
	list-style-type: none;
	width: 910px;
	height: 615px;
	background-color: white;
	text-align:left;
	display: none;
	position: absolute;
	top:13px;
	left: 360px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;  
	border: #c5c5c5 solid 1px;
}

#p18:hover #hiddenList_21{
	display: block;
}
#hiddenList_21{
	list-style-type: none;
	width: 910px;
	height: 615px;
	background-color: white;
	text-align:left;
	display: none;
	position: absolute;
	top:13px;
	left: 360px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;  
	border: #c5c5c5 solid 1px;
}
#a_2{
	text-decoration: none;
	font-size: 13px;
}
#a_2:visited{
	color: #c5c5c5;
}
#a_2:hover{
	color: red;
}
#a_2:active{
	color: red;
}

.a_3:visited{
	color: #c5c5c5;
}
.a_3:hover{
	color: red;
}
.a_3:active{
	color: red;
}
.div_2{
	width: 155px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #c5c5c5;
}



























